project('i2c-c-template', 'c', version: '0.1', default_options: ['warning_level=3'])

# filesystem module
fs = import('fs')
fs.copyfile('tt.sh')

executable('i2c-c-template', 'i2cdriver.c', 'i2c.c', install: false)
